h1{
    -webkit-animation: aparece 2s ease-out;
    animation: aparece 2s ease-out;
}
@-webkit-keyframes aparece{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
}
@keyframes aparece{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
}
.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    position: relative;
    box-sizing: border-box;
    transition: transform 0.5s linear, box-shadow 2.5s ease-out;
    -webkit-animation quica 1s infinite;
    animation quica 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    transition: box-shadow 1s, transform 1s;
    transition: box-shadow 1s, transform 1s;
    transition-delay: 0s, 1s;

}

@-webkit-keyframes quica {
    from {
        top: 0;
    }
    90% {
        transform: rotate(-2deg);
    }
    95% {
        transform: rotate(2deg);
    }
    to {
        top: 1 em;
    }
}

@keyframes quica {
    from {
        top: 0;
    }
    to {
        top: 1 em;
    }
}

.citacao-bio:hover,
.citacao-bio:focus {
    box-shadow: 0 0 0 99999px rgba(0,0,0,.8);
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.petrobras {
    float: left;
    margin-left: 0;
}

.fiat {
    float: right;
    margin-right: 0;
}
blockquote > p {
    position: relative;
}

blockquote:before {
    content: '“';
    font-size: 10em;
    position: absolute;
    color: #bbb;
    position: absolute;
    line-height: .8;
}
.container > p::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: #3C1D3D;
    text-shadow: 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}
.habilidades {
    margin: 1em 0;
}

.habilidades th {
    font-weight: bold;
    background-color: #851944;
    color: white;
}
.habilidades thead th {
    background-color: #3C1D3D;
}
.habilidades td {
    background-color: #eee;
}
.habilidades th,
.habilidades td {
    padding: 1em;
}

.habilidades {
    border-collapse: separate;
    border-spacing: .25em;
}
.habilidades [colspan] {
    text-align: center;
    font-style: italic;
}
.habilidades [rowspan] {
    vertical-align: middle;
}