
.titulo-principal{
    /*background-image: linear-gradient(to bottom, #FFF, #888 80%, #000);
    background-size: 100% 250px;
    background-repeat: no-repeat;*/
}
.inicio-post{
    background-color: #FFF;
    position: absolute;
    top: 3em;
    right: 3em;
    height: 6em;
    width: 48em;
    padding: 1em;
    color: black;
    display: none;
}
.blog a:hover + .inicio-post,
.blog a:focus + .inicio-post {
    display: block;
}

.foto-home {
    height: 220px;
    border-radius: 10% 50% / 50% 10%;
    box-shadow: 0 0 1em #000;
}
.saudacao p {
    font-size: 1.5em;
    padding: 2em;
    color: #99A;
    line-height: 1;
}
.saudacao-inicio {
    font-size: 3em;
    color: #889;
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
}
.saudacao strong {
    font-size: 2em;
    color: #000;
}
.saudacao em {
    color: #851944;
    font-size: 4em;
    display: inline-block;
    transform: skew(-10deg) rotate(-15deg);
}
.botao-index {
    font-size: 1.25em;
    background-color: #851944;
    color: #FFF;
    padding: .5em;
    border: .2em solid black;
    width: 40ch;
    margin: 2em auto;
    display: block;
    text-align: center;
    box-shadow: 0 0 1em #000, inset 0 0 .5em #FFF;
    text-decoration: none;
    transition: .5s;
}
.botao-index:focus,
.botao-index:hover {
    background-color: #C54974;
    color: white;
    box-shadow: 0 0 1em #FA9;
}

.secao-inicio {
    padding: 2em;
}
.secao-inicio h2 {
    font-size: 3em;
    text-shadow: 2px 2px #000;
    text-transform: uppercase;
    margin-bottom: .5em;
    text-shadow: 5px 5px #000;
}
.trabalhos {
    background-color: #3C1D3D;
    background-image: linear-gradient(135deg,transparent, transparent 14px, rgba(0,0,0,.1) 14px, rgba(0,0,0,.1) 15px, transparent 15px, transparent);
    background-size: 20px 20px;
    background-attachment: fixed; 
}
.trabalhos h2 {
    color: #FFF;
}
.trabalhos ul {
    display: flex;
    border: .5em solid black;
}
.trabalhos li {
    flex: 1;
    border: .5em solid #000;
}
.trabalhos li:nth-child(2) {
    order: 1;
}
.trabalhos li:first-child {
    order: 2;
    transform: scale(1.2);
}
.trabalhos li:last-child {
    order: 3;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    background-image: linear-gradient(45deg,transparent,transparent 14px,rgba(255,255,255,.1) 14px,rgba(255,255,255,.1) 15px, transparent 15px, transparent );
    background-size: 20px 20px;
    background-attachment: fixed;
    color: #FFF;
    border-bottom: .5em solid #851944;
    position: relative;
}

.blog small {
    position: relative;
    top: -2em;
}

.blog li a {
    color: #FCF;
    padding: .5em;
    display: block;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFF;
    padding: 2em;
}

footer h2 {
    font-size: 3em;
}

footer a {
    color: #F99;
}

main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}
.palavra-home {
     -webkit-transform-style: preserve-3d;
     transform-style: preserve-3d;
     font-family: "Shadows Into Light", cursive;
     font-weight: bold;
     color: rgba(255, 127, 127, 0.5);
     position: absolute;
     font-size: 38px;
}
.palavras-home li {
    font-size: 200%;
}
.eficiencia{
    top: 38%;
    left: 64%;
    -webkit-transform: rotate(-5deg);
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(3px) scale(0.25);
}
.boas-praticas{
    top: 20%;
    left: 16%;
    -webkit-transform: rotate(10deg);
    transform: translate(-50%, -50%) rotate(10deg) translateZ(1px) scale(0.25);
    opacity: 0.7;
}
.codigo-limpo{
    top: 39%;
    left: 37%;
    -webkit-transform: rotate(-10deg);
    transform: translate(-50%, -50%) rotate(-10deg) translateZ(1px) scale(0.25);
    opacity: 0.4;
}
.css3{
    top: 48%;
    left: 63%;
    -webkit-transform: rotate(5deg);
    transform: translate(-50%, -50%) rotate(5deg) scale(0.25);
    opacity: 0.4;
}
.html5{
    top: 83%;
    left: 7%;
    -webkit-transform: rotate(10deg);
    transform: translate(-50%, -50%) rotate(10deg) scale(0.25);
    opacity: 0.4;
}
.javascript{
    top: 8%;
    left: 67%;
    -webkit-transform: rotate(-5deg);
    transform: translate(-50%, -50%) rotate(-5deg) scale(0.25);
    opacity: 0.4;
}
.acessibilidade{
    top: 56%;
    left: 73%;
    -webkit-transform: rotate(-5deg);
    transform: translate(-50%, -50%) rotate(33deg) translateZ(2.5px) scale(0.25);
    opacity: 0.8;
}
.responsivo{
    top: 75%;
    left: 75%;
    -webkit-transform: rotate(10deg);
    transform: translate(-50%, -50%) rotate(10deg) translateZ(1.4px) scale(0.25);
    opacity: 0.7;
}
.otimizacoes{
    top: 45%;
    left: 15%;
    -webkit-transform: rotate(-5deg);
    transform: translate(-50%, -50%) rotate(-5deg) translateZ(1px) scale(0.25);
    opacity: 0.7;
}
.agilidade{
    top: 24%;
    left: 40%;
    -webkit-transform: rotate(5deg);
    transform: translate(-50%, -50%) rotate(5deg) translateZ(2.9px) scale(0.25);
}
.design{
    top: 52%;
    left: 39%;
    -webkit-transform: rotate(10deg);
    transform: translate(-50%, -50%) rotate(10deg) translateZ(3.5px) scale(0.25);
    opacity: 0.8;
}
@keyframes aparece {
    0% {
        opacity: 0;
        transform: scale(0.001);
    }
}

.banner-twitter {
    background-color: #3C1D3D;
    position: absolute;
    border: 0.2rem solid black;
    padding: 0px;
    height: 2em;
    font-size: 33px;
    font-weight: bold;
    box-sizing: border-box;
    width: 14em;
    color: #FFF;
    font-family: "Open Sans Condensed", sans-serif;
    top: 0;
    right: 0;
    transform-origin: 0 0;
    transform: translate(calc(.707 * (3.5em - 100%) + 100%), calc(-.707 * 3.5em)) rotate(45deg);
    text-decoration: none;
    animation: aparece 0.5s;
    animation-delay: 2s;
    animation-fill-mode: backwards;

}
@keyframes flutua {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}
.saudacao em {
    animation: flutua 1s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    position: relative;
}
.saudacao:hover em {
    animation-play-state: paused;
}

.palavras-home{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    -webkit-animation: aparece 2s;
    animation: aparece 2s;
}
html, body {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    -webkit-perspective: 6px;
            perspective: 6px;
    -webkit-perspective-origin: 50% 160px;
            perspective-origin: 50% 160px;
}
.titulo-principal, .palavras-home{
    transform-style: preserve-3d;

}
object {
    display: none;
}